<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @student.number %>
</p>

<p>
  <strong>First:</strong>
  <%= @student.first %>
</p>

<p>
  <strong>Last:</strong>
  <%= @student.last %>
</p>

<p>
  <strong>Email:</strong>
  <%= @student.email %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
