<%= form_for(@sheet) do |f| %>
  <% if @sheet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sheet.errors.count, "error") %> prohibited this sheet from being saved:</h2>

      <ul>
      <% @sheet.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :student_id %><br>
    <%= f.number_field :student_id %>
  </div>
  <div class="field">
    <%= f.label :experiment_id %><br>
    <%= f.number_field :experiment_id %>
  </div>
  <div class="field">
    <%= f.label :marker_id %><br>
    <%= f.number_field :marker_id %>
  </div>
  <div class="field">
    <%= f.label :comments %><br>
    <%= f.text_area :comments %>
  </div>
  <div class="field">
    <%= f.label :raw_mark %><br>
    <%= f.number_field :raw_mark %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
