<%= form_for @experiment do |f| %>
  <%= render 'shared/error_messages', :object => f.object  %>
  <fieldset>
  <legend>Create/Edit Experiment</legend>
    <div class="control-group">
    <%= f.label :title, class: "control-label" %>
    <div class="controls">
    <%= f.text_field :title %>
    </div>
    </div>
    <div class="control-group">
    <%= f.label :description, class: "control-label" %>
    <div class="controls">
    <%= f.text_area :description %>
    </div>
    </div>
    <div class="form-actions">
    <%= f.submit class: "btn btn-primary btn-xs" %>
    </div>
  </fieldset>

<% end %>
