<footer class="footer">
  <div class="container">

  <small>
    LabMarks v0.1 JPH
  </small>
<!--  <nav>
    <% if is_admin? %>
    <ul>
    <li><%= link_to "Mark List",    "/marklist" %></li>
    <li><%= link_to "Statistics",    "/statistics" %></li>
    <li><%= link_to "Experiments",    experiments_path %></li>
    <li><%= link_to "Mark Sheets",    sheets_path %></li>
    <li><%= link_to "Students",    students_path %></li>
    <li><%= link_to "Markers",    markers_path %></li>
    </ul>
    <% else %>
    <ul>
    <li><%= link_to "About",    about_path %></li>
    <li><%= link_to "Contact",    contact_path %></li>
    </ul>
    <% end %>
  </nav> -->
    <%= debug(params) if Rails.env.development? %>
  </div>
</footer>
